@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: #ffff;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


body {
    background: #151621;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0 0 100px;
}


/* body {
    margin: 0;
    overflow-x: hidden;
    background-color: #31323b;
} */

html {
    scroll-behavior: smooth;

}

li, a, button, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
    color: rgb(194 192 193);
    text-decoration: none;
}

.root {
    margin-left: auto;
    margin-right: auto;
    max-width: 1950px;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-size: 24px;
    height: 7%;
}

.logo {
    height: 90px;
    width: 90px;
}

header h3 {
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.white-text {
    color: var(--text);
}

.gradient {
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gr-1 {
    background-image: linear-gradient(-45deg, #f7b500, #b620e0, #32c5ff);
}

.gr-2 {
    background-image: linear-gradient(-45deg, #32c5ff, #b620e0, #f7b500);
}


/* NAV BAR */
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    padding: 15px 25px;
    background-color: rgba(36, 37, 42, 1);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(36, 37, 55, 0.6);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 0 45px;

    max-width: 1500px;
}

.info {
    text-align: center;
}

.hello {
    font-size: 30px;
    font-weight: 400;
    margin: 6px 0;
}

.hero {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /*Why does % not work here but vh or em work*/
    height: calc(100vh - 300px);
    /*margin-top: -7%;*/
}

.main-info {
    font-size: 54px;
    font-family: var(--font-family-sans-serif);
}

.socials {
    margin-top: 2%;
}

.fa-brands, .fab {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    opacity: 1;
}

.fa-brands, .fab {
    transition: all 0.3s ease 0s;
}

.fa-brands:hover, .fab:hover {
    color: #ffff;
}

.fullpage {
    /*width: 80%;*/
}

/* PROJECTS */
.project-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.hashtag {
    width: 80%;
    align-self: center;
}

.hashtag p {
    color: #9497A1;
    margin-bottom: 3em;
    font-size: clamp(14px, 2vw, 18px);
}

.about-me {
    max-width: 90%;
    font-size: clamp(14px, 2vw, 18px);
    align-self: center;
}

.about-me p {
    color: #9497A1;
    margin-bottom: 3em;
    font-size: clamp(14px, 2vw, 18px);
}


.about-me-info {
    margin-top: 2em;
    display: flex;
}

#image {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.text {
    width: 50%;
}

.about-me-info img {
    float: right;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    flex-direction: row;
}

.project {
    margin-bottom: 3em;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: #1A1C2F;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 transparent, 0 0 #0000, 0 0 transparent, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);

}

.proj-info {
    width: 40%;
    margin: 2em;
}


.proj-info {
    /*font-size: 1.5vw;*/
    font-size: clamp(12px, 2vw, 22px);
}

.images {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

img {
    width: 35em;
    float: right;
    max-width: 100%;
    height: auto;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/*.more {*/
/*    margin: auto;*/
/*    background-color: rgba(36, 37, 42, 1);*/
/*    padding: 1em;*/
/*    cursor: pointer;*/
/*}*/

.more {
    margin: auto;
}


@media screen and (max-width: 650px) {
    /*main {*/
    /*    margin: 0;*/
    /*}*/
    .nav-links {
        display: none;
    }


    .project-parent {
        width: 100%;
    }


    .project {
        flex-direction: column;
        /*width: 100%;*/
    }

    .proj-info {
        width: auto;
        font-size: 15px;
    }

}


#snow-animation-container {
    position: fixed;
    width: 100%;
    /*height: 100%;*/
    /*overflow: hidden;*/
}